[buildout]
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
socket-timeout = 1
show-picked-versions = true
parts =
    sysegg
    test
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    python-subgrid


[buildout:windows]
parts -= sphinx


[versions]
# Specific pins
python-subgrid =
zc.buildout = 2.1.0
zc.recipe.egg = 2.0.0
distribute = 0.6.45
# Reported by buildout.


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    numpy
    netCDF4

[test]
recipe = pbp.recipe.noserunner
eggs =
    python-subgrid
    python-subgrid[test]
defaults = python_subgrid
# disable this line if you want to test per module


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
