[buildout]
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
    sysegg
    test
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    python-subgrid

[buildout:windows]
parts -= sphinx


[versions]
# Specific pins
python-subgrid =

# Reported by buildout.
faulthandler = 2.2
pandas = 0.12.0
pbp.recipe.noserunner = 0.2.6
pyflakes = 0.7.3
setuptools = 1.1.5
syseggrecipe = 1.0.1
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1
psutil = 1.2.1
WebOb = 1.3.1
mmi = 0.1.2
netCDF4 = 1.0.8
pyzmq = 14.0.1
#six = 1.4.1
scikit-image = 0.10.0
shapely = 1.3.2
# whatever we have (0.9.0 on jenkins)
scipy =

[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/lizard-ui.git
scikit-image = git git@github.com:SiggyF/scikit-image.git branch=fedor-setup-py


[sysegg]
recipe = syseggrecipe
force-sysegg = true
eggs =
    numpy
    scipy
    six

[sysegg:macosx]
eggs +=
     netCDF4


[test]
recipe = pbp.recipe.noserunner
environment = django-environment
eggs =
    python-subgrid
    python-subgrid[test]

[django-environment]
NOSE_NOLOGCAPTURE=y
NOSE_NOCAPTURE=y


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
